<h2 class="content-block">Estados</h2>

<dx-data-grid class="dx-card wide-card" 
[dataSource]="dataSource" 
[showBorders]="true" 
[focusedRowEnabled]="true"
[focusedRowIndex]="0" 
[columnAutoWidth]="true" 
[paging]="{pageSize: 10}"
[pager]="{ showPageSizeSelector: true, allowedPageSizes: [5, 10, 20], showInfo: true}"
>

  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="id" caption="Id" alignment="left">
  </dxi-column>

  <dxi-column dataField="nome"  caption="Nome">
  </dxi-column>

  <dxi-column dataField="sigla"  caption="Sigla">
  </dxi-column>

  <dxi-column dataField="regiao.nome"  caption="Região">
  </dxi-column>

  <dxo-master-detail
  [enabled]="true"
  [template]="'detailTemplate'">
  </dxo-master-detail>


  <div *dxTemplate="let info of 'detailTemplate'">
    <p>Veja os municípios pertencentes ao estado do {{info.data.nome }}</p>

    <button id="redireciona__municipio__btn" (click)="municipioUf(info.data.sigla)">Lista de municípios</button>
  </div>

</dx-data-grid>
